# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env

# Data files
data/raw/
data/dwd_structure_logs/
data/dwd_validation_logs/

